@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url("https://cdn.wallpapersafari.com/48/13/SX6L3F.jpg");
}

/* .draggable {

  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;

} */

#dogeHouse {

  width: 100vw;
  padding-top: 50px;
  height: 80vh;
  text-align: center;
 
}

#dogePic {

  width: 200px;
  height: 250px;
  top: 16%;

}

#dogeRow{

  width: 300px;
  height: 300px;
  text-align: center;
}

#instructions{
  background-image: linear-gradient(to left, violet,indigo,blue,
  green,orange,red);
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;
  padding-top: 20px;
  padding-bottom:25px;
  
}

#purgeWows{

  background-color:rgb(125, 203, 235);
  color:black;
  width:fit-content;
  top: 3%;
  right: 16%;
  position:absolute;

}

#wowBalance{

  background-color:rgb(125, 203, 235);
  color:black;
  width:17vw;
  height:fit-content;
  top: 3%;
  left: 10%;
  position:absolute;

}


/* h3,
label,
p {
  background-color: #fff;
}

h3 {
  color: green;
  /*   font-family: "Roboto", sans-serif; */
  /* font-family: "Quicksand", sans-serif;
}

.card {
  margin-top: 1rem;
/* } */ 